{% extends '::base.html.twig' %}

{% block pageTitle %}
    {% include '@Core/pageTitle/pageTitle.html.twig' with {'page' : "Page d'accueil du forum Sport"} %}
{% endblock %}

{% block body %}
    <table class="table">
        {% for article in article %}
            {% if date(article.date) > date('-15days') %}
                <div class="filinfo col-lg-4" style="background-color: lightblue">
                    Voici l'id : {{ article.id }}<br/>
                    Le titre : {{ article.nom }}<br/>
                    Le date de création : {{ article.date|date('d-m-Y') }}<br/>
                    L'auteur : {{ article.users.username }}<br/>
                    Le contenu de l'article : {{ article.contenu|length > 500 ? article.contenu|slice(0, 500) ~ '...' : article.contenu }}<br/> {#limite les caractères à 50 er ajoute les points de suspension#}
                </div>
            {% endif %}
        {% endfor %}


        {#Affichage à droite de la bande avec toutes les catégories enregistrées   catégories => TypeArticles? #}

        {#{% for article in article %}
            <div class="categories col-lg-6 col-lg-offset-2" style="background-color: lightgreen" >
                {{ article.users.categories.name }}<br/>
                {{ article.users.categories.name }}<br/>
                {{ article.users.categories.name }}<br/>
            </div>
        {% endfor %}#}


    </table>
{% endblock %}